@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@0,400..800;1,400..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap');

@font-face {
  font-family: 'BATAR';
  src: url('./BATAR.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
