:root {
  --main-font: 'Montserrat Alternates';
  --title-font: 'Great Vibes';
  --page-background-image: url('../images/background.jpg');
  --page-background-color: rgb(149 130 124 / 50%);
  --header-background-color:rgb(149 130 124 / 60%);
  --card-background-color:rgba(244 235 220 / 30%);
  --button-background-color:#95827c;
  --text-color-main: #695145;
  --text-color-header: #f4ebdc;
}
