:root {
  --main-font: 'EB Garamond';
  --title-font: 'Great Vibes';
  --page-background-image: url('../images/background.jpg');
  --page-background-color: rgb(149 130 124 / 30%);
  --header-background-color:rgb(149 130 124 / 60%);
  --button-background-color:#95827c;
  --text-color-main: #695145;
  --text-color-header: #f4ebdc;
}
